/* BED0FC 
    97C99A
*/

html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 100px;
}
ul, li {
    list-style-type: none;
}

.shrimp-container {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    padding: 5px 12px;
}
.logo {
    margin: auto 0;
    height: 60px;
    width: auto;
    vertical-align: middle;
}

.header, .header.hidden:hover {
    z-index: 10;
    position: fixed;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 5px 0;
    background: #FFE082;
    -webkit-transition: height .4s, padding .4s;
    transition: height .4s, padding .4s;
}
.header.hidden {
    height: 1px;
    padding: 2px 0;
}

.brand, .hidden:hover .brand {
    float: left;
    opacity: 1;
    -webkit-transition: opacity .25s;
    transition:  opacity .25s;
}

.name {
    color: #455A64;
    font-size: 34px;
    line-height: 70px;
    text-decoration: none;
    padding-left: 100px;
    display: inline-block;
    font-family: "Karla", Helvetica;
    -webkit-transition: color .25s;
    transition: color .25s;
}
.name:hover {
    color: #263238;
}
.hidden .brand {
    pointer-events: none;
    opacity: 0;
    /*-webkit-transition: opacity .25s ease .4s;*/
    /*transition:  opacity .25s ease .4s;*/
}


.nav {
    position: relative;
    top: 10px;
    left: 0;
    margin-left: 100px;
    margin-right: 40px;
    display: inline-block;
    min-width: 200px;
    float: left;
}
.nav.fixed {
    position: fixed;
    top: 10px;
    z-index: 8;
}
.nav ul {
    padding-bottom: 10px;
    border-bottom: 1px solid #CFD8DC;
    margin-left: 0;
    padding-left: 0;
}
.nav li {
    padding-left: 0px;
    display: block;
    margin-bottom: 15px;
}
.nav h1 {
    font-family: 'Karla', Helvetica;
    font-size: 20px;
    color: #184D68;
    margin-top: 0;
    margin-left: 0;
    /*height: 65px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid #CFD8DC;
    text-align: justify;
    text-align-last: justify;
}
.nav li > a {
    text-decoration: none;
    font-size: 18px;
    color: #393D34;
    font-family: 'Questrial', serif;
}
.nav li > a:hover, .nav li.active > a {
    -webkit-transition: color .5s;
    transition: color .5s;
    color: #31809F;
}

.social {
    margin-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    text-align: justify;
}
.social:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.social > a {
    color: #393D34;
    font-size: 18px;
}
.social > a:hover {
    color: #31809F;
}
p {
    color: #393D34;
    text-align: center;
    font-family: 'Questrial', serif;
}
p.location {
    font-size: 14px;
    opacity: .8;
    margin-top: 70px;
    margin-left: 0;
}
p.copy {
    font-size: 12px;
    opacity: .8;
    margin-left: 0;
    margin-top: 10px;
}
p.credit {
    font-size: 10px;
    opacity: .7;
    margin-left: 0;
    margin-top: 5px;
}

.clone {
    display: none;
}
.clone.standin {
    display: block;
    visibility: hidden;
}

.gallery {
    position: relative;
    overflow: hidden;
}
.gallery img {
    position: relative;
    cursor: pointer;
    margin: 15px;
    border: 20px solid rgba(255,255,255,.67);
    max-width: 40%;
    height: auto;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.gallery img:hover {
    z-index: 51;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.section-header {
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    /*padding: 5px 0;*/
    background: rgba(255,255,255,.8);
}
.section-header.visible {
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    opacity: 1;
}
.section-header h2 {
    color: #393D34;
    font-size: 32px;
    line-height: 70px;
    margin: 0;
    text-decoration: none;
    padding-left: 361px;
    display: inline-block;
    font-family: 'Hammersmith One', sans-serif;
}
h2 .small {
    font-size: 18px;
    color: #878983;
}

.blanket {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    -webkit-transition: opacity 1.5s, background 1s;
    transition: opacity 1.5s, background 1s;
    opacity: 0;
    pointer-events: none;
}
.blanket-black {
    background: black;
}
.blanket-white {
    background: white;
}
.blanket.cover {
    opacity: .96;
}
.gallery-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    opacity: 0;
    pointer-events: none;
}
.gallery-fullscreen.active {
    pointer-events: auto;
    opacity: 1;
}
.controls {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    top: 10px;
    right: 40px;
    height: 70px;
    line-height: 70px;
    z-index: 300;
}
.controls i {
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    padding: 2px 10px;
}
.controls .no-more {
    display: none;
}
.controls .close {
    color: #888;
}
.controls .next-image, .controls .prev-image {
    color: #888;
    position: fixed;
    top: 50%;
    margin-top: -20px;
    font-size: 40px;
}
.controls .next-image {
    right: 30px;
}
.controls .prev-image {
    left: 30px;
}
.controls i:hover {
    opacity: .9;
    transform: scale(1.05, 1.05);
}
.color-toggle.toggle-white {
    color: white;
}
.color-toggle.toggle-black {
    color: black;
}
.gallery-fullscreen .image{
    position: absolute;
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}